#navbar {
    transition: 0.5s ease-in-out;
    width: -webkit-fill-available;

    .icon {
        color: #fff !important;
    }

    .mobile-nav {
        border-bottom: 1px solid #fff;

        .burger-menu {
            height: 80%;
            width: 4em;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: space-between;
            cursor: pointer;
        }
    
        .burger-bar {
            width: 3em;
            height: 0.3em;
            background-color: #fff;
            border-radius: 0.5em;
        }
    
        .menu {
            width: 100%;
            background-color: #fff;
            position: absolute;
            top: 5em;
            z-index: 0;
            color: #000;
            text-align: center;
            border-bottom: 1px solid #000;
    
            a {
                margin: 1em auto;
            }
        }

        .icon {
            color: #fff !important;
        }
    
        /* sliding menu */
        .hidden {
            display: none;
        }
    
        .visible {
            display: inherit;
        }
    
        /* animations for clicked */
        .burger-bar.clicked:nth-child(1) {
            transform: rotate(45deg) translate(0.75em, 1.25em);
            transition: 0.5s ease-in-out;
        }
    
        .burger-bar.clicked:nth-child(2) {
            transform: scale(0.1);
            transition: 0.5s ease-in-out;
        }
    
        .burger-bar.clicked:nth-child(3) {
            transform: rotate(135deg) translate(-0.2em, 0.9em);
            transition: 0.5s ease-in-out;
        }
    
        /* animations for unclicked */
        .burger-bar.unclicked {
            transform: rotate(0) translate(0);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.5s;
        }
    }

    .desktop-nav {
        display: none;
        
        .icon {
            color: #000;
            transition: 0.5s ease-in-out;
        }
        
        a,
        a:hover {
            transition: 0.5s ease-in-out;
        }

        a:hover {
            color: #000;
            cursor: pointer;
        }
    }

    @media (min-width: 576px) {
        .mobile-nav {
            display: none;
        }

        .desktop-nav {
            display: block;
        }
    }
}

#navbar.navbar-container {
    border-bottom: 1px solid #fff;
    background-color: rgba(0, 0, 0, 0.9);
    transition: 0.5s ease-in-out;

    .desktop-nav {
        .icon {
            color: #1c2e4a !important;
            transition: 0.5s ease-in-out;
        }

        a:hover {
            color: #fff;
        }
    }
}